html { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
}

header, section {
  padding: 50px;
}

h1,
h2 {
  color: #7cafc2;
  margin: 0 0 20px;
  line-height: 1.1;
}

p {
  margin: 0 0 20px;
  color: #e8e8e8;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #e8e8e8;
}

a {
  color: #7cafc2;
  text-decoration: none;
}

a: hover {
  color: #069;
}

.wrapper {
  margin: 0 auto;
  width: 860px;
}

img {
  max-width: 100%;
}

.alert {
  
}

#notification_container {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}

#notification_container .alert {
  display: block;
  width: 100%;
  color: #ab4642;
  padding: 11px 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
  background-color: #f7ca88;
}

#notification_container .success {
  display: block;
  width: 100%;
  color: #e8e8e8;
  padding: 11px 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
  background-color: #a1b56c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
}

.success,
.alert {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-delay: .6s;
}

form {
  width: 450px;
  min-height: 256px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  text-align: left;
  position: relative;
}

.hide {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-animation-delay: 0s;
}

header {
  float: left;
  -webkit-font-smoothing: subpixel-antialiased;
  position: fixed;
  width: 270px;
}

section {
  float: right;
  padding-bottom: 50px;
  width: 500px;
}

footer {
  width: 270px;
  margin: 0 0 0 50px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.mc-field-group,
.clear,
.button {
  display: inline-block;
}

form input[type=email]  {
  display: inline-block;
  height: 42px;
  width: 200px;
  border-radius: 0;
  background: #e8e8e8;
  color: #383838;
  border: none;
  font-size: 14px;
  padding: 6px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

form input[type="submit"] {
  display: inline-block;
  padding: 16px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-appearance: button;
  cursor: pointer;
  color: #e8e8e8;
  background-color: #7cafc2;
  border-color: #7cafc2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width: auto;
    margin: 0;
  }

  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }

}

@media print, screen and (max-width: 720px) {
  /*body {
    word-wrap: break-word;
  }*/

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  header {
    padding: 0;
  }
  
  #mc_embed_signup * {
    width: 100%;
  }

  form input[type=email] {
    text-indent: 15px;
    text-align: center;
    padding: 6px 0;
  }
  
  #notification_container .success,
  #notification_container .alert {
    padding: 11px 0;
    text-align: center;
  }

  section {
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header ul {
    width: 99%;
  }

  header li,
  header ul li + li + li {
    width: 33%;
  }

  footer {
    margin: 0;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}


